/* Common Hero Styles */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.hero-summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1vh;
  height: 100%;
}

.hero-profile-pic {
  margin-top: 15vh;
  width: 20vw;
}

.hero-title {
  font-weight: 800;
  font-size: 2rem;
  color: #333;
  margin-bottom: 1vh;
}

.hero-title > span {
  white-space: nowrap;
}

.hero-sub-title {
  font-weight: lighter;
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 2vh;
}

/* Large screens (1024px and above) */
@media (min-width: 1024px) {
  .hero-summary-section {
    width: 80vw;
  }
  .hero-profile-pic {
    margin-top: 15vh;
    width: 40vh;
  }

  .hero-content-section {
    margin-top: 3vh;
    width: 70vw;
  }

  .hero-title {
    font-size: 7vh;
    font-weight: 900;
  }

  .hero-sub-title {
    font-size: 5vh;
    font-weight: 500;
  }

  .hero-description {
    font-size: 3vh;
    font-weight: 400;
  }
}

/* Tablet landscape mode (width between 769px and 1023px) */
@media (min-width: 769px) and (max-width: 1023px) {
  .hero-summary-section {
    width: 80vw;
  }
  .hero-profile-pic {
    margin-top: 18vh;
    width: 40vh;
  }

  .hero-content-section {
    margin-top: 3vh;
    width: 80vw;
  }

  .hero-title {
    font-size: 6vh;
    font-weight: 900;
  }

  .hero-sub-title {
    font-size: 4vh;
    font-weight: 500;
  }

  .hero-description {
    font-size: 2.75vh;
    font-weight: 400;
  }
}

/* Tablet portrait mode (width between 481px and 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .hero-summary-section {
    width: 80vw;
  }
  .hero-profile-pic {
    margin-top: 15vh;
    width: 40vh;
  }

  .hero-content-section {
    margin-top: 1.25vh;
    width: 70vw;
  }

  .hero-title {
    font-size: 4.5vh;
    font-weight: 900;
  }

  .hero-sub-title {
    font-size: 3.5vh;
    font-weight: 500;
  }

  .hero-description {
    font-size: 2.75vh;
    font-weight: 400;
  }
}

/* Mobile devices (width between 321px and 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .hero-summary-section {
    width: 80vw;
  }
  .hero-profile-pic {
    margin-top: 15vh;
    width: 35vh;
  }

  .hero-content-section {
    margin-top: 1.25vh;
    width: 70vw;
  }

  .hero-title {
    font-size: 4.5vh;
    font-weight: 900;
  }

  .hero-sub-title {
    font-size: 3.5vh;
    font-weight: 500;
  }

  .hero-description {
    font-size: 2.75vh;
    font-weight: 400;
  }
}

/* Small mobile devices (width up to 320px) */
@media (max-width: 320px) {
  .hero-summary-section {
    width: 80vw;
  }
  .hero-profile-pic {
    margin-top: 15vh;
    width: 25vh;
  }

  .hero-content-section {
    margin-top: 1.25vh;
    width: 70vw;
  }

  .hero-title {
    font-size: 4vh;
    font-weight: 900;
  }

  .hero-sub-title {
    font-size: 3vh;
    font-weight: 500;
  }

  .hero-description {
    font-size: 2.25vh;
    font-weight: 400;
  }
}

/* Mobile landscape mode (width up to 768px but height less than width) */
@media (max-width: 768px) and (orientation: landscape) {
  .hero-summary-section {
    width: 80vw;
  }
  .hero-profile-pic {
    margin-top: 15vh;
    width: 35vh;
  }

  .hero-content-section {
    margin-top: 1.25vh;
    width: 70vw;
  }

  .hero-title {
    font-size: 5vh;
    font-weight: 900;
  }

  .hero-sub-title {
    font-size: 4vh;
    font-weight: 500;
  }

  .hero-description {
    font-size: 3.25vh;
    font-weight: 400;
  }
}
