/* src/components/Projects.css */

.resume-container {
  padding: 6rem;
  background-color: #dfdfdf;
}

.download-cv {
  text-align: center;
  margin: 24px 0px;
  justify-content: center;
  position: relative;
  display: flex; /* Add flexbox */
  align-items: center; /* Vertically align the link if needed */
}

.download-cv-link {
  padding: 0.5rem 2rem;
  background-color: #6e07f3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  display: inline-flex; /* Make the link behave as an inline flexbox container */
  align-items: center; /* Vertically center the icon and text */
  justify-content: center; /* Horizontally center the content inside the link */
}
