/* src/components/Projects.css */
.project-container {
  padding: 8rem;
}

.heading-section {
  text-align: center;
  margin-bottom: 40px;
}

.heading {
  font-size: 36px;
  color: #333;
}

.sub-heading {
  margin-top: 1rem;
  font-size: 16px;
  color: #333;
}

.showcase-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Media Queries */

/* For large desktop screens (1440px and above) */
@media (min-width: 1440px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .nav-item {
    font-size: 2.15vh;
  }

  .btn-outline {
    font-size: 1.75vh;
    padding: 1.25vh 1.5vw;
  }
}

/* For regular desktop screens (1024px and above) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar-logo {
    font-size: 5vh;
  }

  .nav-item {
    font-size: 2.5vh;
  }

  .btn-outline {
    font-size: 2vh;
    padding: 1.25vh 1.5vw;
  }
}

/* Tablet landscape mode (width between 769px and 1023px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .nav-item {
    font-size: 2.5vh;
    padding-inline: 1vw;
  }

  .btn-outline {
    font-size: 2vh;
    padding: 1.25vh 1.5vw;
  }
}

/* Tablet portrait mode (width between 481px and 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 5vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}

/* Mobile devices (width between 321px and 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .navbar-logo {
    font-size: 4vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 4.5vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}

/* Small mobile devices (width up to 320px) */
@media (max-width: 320px) {
  .navbar-logo {
    font-size: 4vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 4vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}

/* Mobile landscape mode (width up to 768px but height less than width) */
@media (max-width: 768px) and (orientation: landscape) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 5vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}
