/* Common Navbar Styles */
.navbar {
  height: 10vh;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  padding: 1% 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #6e07f3;
}

.navbar-content-section {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  justify-content: flex-end;
}

.navbar-item-list {
  display: flex;
  margin-right: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
  font-weight: 500;
  padding-inline: 0.5rem;
  position: relative;
}

.nav-item:hover {
  color: #6e07f3;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6e07f3;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.btn-outline {
  background-color: transparent;
  border: 3px solid #000;
  color: #000;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 2.75rem;
  text-transform: uppercase;
  font-size: 1rem; /* Increased font size */
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.btn-outline:hover {
  background-color: #6e07f3;
  color: white;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 100vw;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hamburger-menu-item {
  padding: 1rem;
  color: #000;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hamburger-menu-item:hover {
  color: #6e07f3;
}

.hamburger-menu-icon {
  display: none;
  cursor: pointer;
}

/* Media Queries */

/* For large desktop screens (1440px and above) */
@media (min-width: 1440px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .nav-item {
    font-size: 1.125rem;
  }

  .btn-outline {
    font-size: 0.85rem;
    padding: 0.75rem 1.25rem;
  }
}

/* For regular desktop screens (1024px and above) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .navbar-logo {
    font-size: 4vh;
  }

  .nav-item {
    font-size: 1.125rem;
  }

  .btn-outline {
    font-size: 0.85rem;
    padding: 0.75rem 1.25rem;
  }
}

/* Tablet landscape mode (width between 769px and 1023px) */
@media (min-width: 769px) and (max-width: 1023px) {
  .navbar-logo {
    font-size: 4vh;
  }

  .nav-item {
    font-size: 1.125rem;
  }

  .btn-outline {
    font-size: 0.85rem;
    padding: 0.75rem 1.25rem;
  }
}

/* Tablet portrait mode (width between 481px and 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-logo {
    font-size: 3.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 2rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 1.125rem;
  }
}

/* Mobile devices (width between 321px and 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .navbar-logo {
    font-size: 3.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 1.75rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 1rem;
  }
}

/* Small mobile devices (width up to 320px) */
@media (max-width: 320px) {
  .navbar-logo {
    font-size: 3.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 1.75rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 1rem;
  }
}

/* Mobile landscape mode (width up to 768px but height less than width) */
@media (max-width: 768px) and (orientation: landscape) {
  .navbar-logo {
    font-size: 6vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 1.5rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 0.85rem;
  }
}
