/* Common Navbar Styles */
.navbar {
  background-color: #fff;
  height: 12vh;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  padding: 1vh 4vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--primary-color);
}

.navbar-content-section {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  justify-content: flex-end;
}

.navbar-item-list {
  display: flex;
  margin-right: 1.5vh;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5vh;
  padding-inline: 0.5vw;
  color: #000;
  font-weight: 500;
}

.nav-item:hover {
  color: var(--primary-color);
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.btn-outline {
  background-color: transparent;
  border: 0.25vh solid #000;
  border-radius: 2.75vh;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 100vw;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hamburger-menu-item {
  padding: 1rem;
  padding-right: 2rem;
  color: #000;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hamburger-menu-item:hover {
  color: var(--primary-color);
}

.hamburger-menu-icon {
  display: none;
  cursor: pointer;
  padding-right: 1rem;
}

/* Media Queries */

/* For large desktop screens (1440px and above) */
@media (min-width: 1440px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .nav-item {
    font-size: 2.15vh;
  }

  .btn-outline {
    font-size: 1.75vh;
    padding: 1.25vh 1.5vw;
  }
}

/* For regular desktop screens (1024px and above) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar-logo {
    font-size: 5vh;
  }

  .nav-item {
    font-size: 2.5vh;
  }

  .btn-outline {
    font-size: 2vh;
    padding: 1.25vh 1.5vw;
  }
}

/* Tablet landscape mode (width between 769px and 1023px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .nav-item {
    font-size: 2.5vh;
    padding-inline: 1vw;
  }

  .btn-outline {
    font-size: 2vh;
    padding: 1.25vh 1.5vw;
  }
}

/* Tablet portrait mode (width between 481px and 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 5vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}

/* Mobile devices (width between 321px and 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .navbar-logo {
    font-size: 4vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 4.5vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}

/* Small mobile devices (width up to 320px) */
@media (max-width: 320px) {
  .navbar-logo {
    font-size: 4vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 4vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}

/* Mobile landscape mode (width up to 768px but height less than width) */
@media (max-width: 768px) and (orientation: landscape) {
  .navbar-logo {
    font-size: 4.5vh;
  }

  .navbar-content-section {
    display: none;
  }

  .hamburger-menu-icon {
    display: block;
    font-size: 5vh;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu-item {
    font-size: 2.5vh;
  }
}
