/* Footer styles */
.footer-container {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.footer-upper {
  display: flex;
  position: relative;
}

.footer-upper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #38353577;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-section {
  text-align: left;
}

.footer-title {
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}

.footer-description {
  color: #666;
}

.footer-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

.footer-copyright {
  color: #666;
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.footer-social {
  display: flex;
  align-items: center;
}

/* Media Queries */

/* For large desktop screens (1440px and above) */
@media (min-width: 1440px) {
  .footer-container {
    padding-inline: 5vw;
  }

  .footer-upper {
    padding: 7vh 0 5vh 0;
  }

  .footer-upper::after {
    height: 0.1vh;
  }

  .footer-section.info {
    max-width: 45%;
  }

  .footer-section.social {
    max-width: 55%;
  }

  .footer-title {
    font-size: 2.5vh;
  }

  .footer-description {
    margin-top: 1vh;
    font-size: 1.75vh;
  }

  .footer-social {
    gap: 1.25vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 0;
    font-size: 1.75vh;
  }
}

/* For regular desktop screens (1024px and above) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer-container {
    padding-inline: 5vw;
  }

  .footer-upper {
    padding: 7vh 0 5vh 0;
  }

  .footer-upper::after {
    height: 0.1vh;
  }

  .footer-section.info {
    max-width: 45%;
  }

  .footer-section.social {
    max-width: 55%;
  }

  .footer-title {
    font-size: 2.5vh;
  }

  .footer-description {
    margin-top: 1vh;
    font-size: 1.75vh;
  }

  .footer-social {
    gap: 1.25vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 0;
    font-size: 1.75vh;
  }
}

/* Tablet landscape mode (width between 769px and 1023px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-container {
    padding-inline: 5vw;
  }

  .footer-upper {
    padding: 7vh 0;
  }

  .footer-upper::after {
    height: 0.1vh;
  }

  .footer-section.info {
    max-width: 45%;
  }

  .footer-section.social {
    max-width: 55%;
  }

  .footer-title {
    font-size: 2.5vh;
  }

  .footer-description {
    margin-top: 1vh;
    font-size: 1.75vh;
  }

  .footer-social {
    gap: 1.25vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 0;
    font-size: 1.75vh;
  }
}

/* Tablet portrait mode (width between 481px and 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .footer-container {
    padding-inline: 5vw;
  }

  .footer-upper {
    padding: 7vh 0;
  }

  .footer-upper::after {
    height: 0.1vh;
  }

  .footer-section.info {
    max-width: 45%;
  }

  .footer-section.social {
    max-width: 55%;
  }

  .footer-title {
    font-size: 2.5vh;
  }

  .footer-description {
    margin-top: 1vh;
    font-size: 1.75vh;
  }

  .footer-social {
    gap: 1.25vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 0;
    font-size: 1.75vh;
  }
}

/* Mobile devices (width between 321px and 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .footer-upper {
    padding: 4vh 0;
  }
  .footer-upper::after {
    height: 0.1vh;
    width: 80%;
  }

  .footer-content {
    padding-inline: 10vw;
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .footer-section.social {
    order: 1;
    max-width: 80%;
  }

  .footer-section.info {
    order: 2;
    max-width: 80%;
    padding-top: 1vh;
  }

  .footer-title {
    font-size: 2.25vh;
  }

  .footer-description {
    margin-top: 1.25vh;
    font-size: 1.5vh;
  }

  .footer-social {
    gap: 2.5vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 2vw;
    font-size: 1.25vh;
  }
}

/* Small mobile devices (width up to 320px) */
@media (max-width: 320px) {
  .footer-upper {
    padding: 4vh 0;
  }
  .footer-upper::after {
    height: 0.1vh;
    width: 80%;
  }

  .footer-content {
    padding-inline: 10vw;
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .footer-section.social {
    order: 1;
    max-width: 80%;
  }

  .footer-section.info {
    padding-top: 1vh;
    order: 2;
    max-width: 80%;
  }

  .footer-title {
    font-size: 2.25vh;
  }

  .footer-description {
    margin-top: 1.25vh;
    font-size: 1.5vh;
  }

  .footer-social {
    gap: 2.5vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 2vw;
    font-size: 1.25vh;
  }
}

/* Mobile landscape mode (width up to 768px but height less than width) */
@media (max-width: 768px) and (orientation: landscape) {
  .footer-container {
    padding-inline: 5vw;
  }

  .footer-upper {
    padding: 5vh 0;
  }

  .footer-upper::after {
    height: 0.1vh;
  }

  .footer-section.info {
    max-width: 45%;
  }

  .footer-section.social {
    max-width: 55%;
  }

  .footer-title {
    font-size: 2.5vh;
  }

  .footer-description {
    margin-top: 1vh;
    font-size: 1.75vh;
  }

  .footer-social {
    gap: 1.25vw;
    margin-top: 1.25vh;
    font-size: 2.25vh;
  }

  .footer-lower {
    padding: 2.5vh 0;
    font-size: 1.75vh;
  }
}
