.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 7rem;
  text-align: center;
  border-radius: 16px;
  background-color: hsla(266, 99%, 99%, 0.986);
  position: relative;
  bottom: 15rem;
  height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-section {
  flex: 1; /* Make each section take up equal space */
  border-right: 2px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.skill-icon {
  display: flex; /* Use Flexbox to center the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 80px; /* Increased height */
  width: 80px; /* Increased width */
  border-radius: 50%; /* Make it fully circular */
  background-color: #5be9b9; /* Background color */
  margin: 0 auto 1rem auto; /* Center the icon container and add margin below */
  font-size: 2.25rem; /* Increase the size of the icon */
  color: #000; /* Set icon color */
}

.skill-title {
  font-family: "Eurostile";
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bolder;
  word-break: break-word;
}

.skill-category {
  margin: 2rem auto 1rem auto;
  font-weight: 500;
  font-size: 18px;
  color: #6e07f3;
}
.skill-description {
  font-family: inherit;
  margin-top: 1.5rem;
  font-size: 17px;
  text-align: center;
  padding-inline: 2rem;
}

.skill-technologies {
  margin-top: 0.5rem;
  line-height: 2rem;
  font-weight: 500;
}
