.skills-container {
  background-color: hsla(264, 100%, 99%, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin-inline: 7vw;
  border-radius: 16px;
  bottom: 30vh;
  padding: 2vw;
}

.skills-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.skill-card {
  display: block;
  flex-direction: row;
  align-items: center;
  padding: 5vh 0 5vh 0;
  border-right: 2px solid #f1f1f1;
}

.skills-section :last-child {
  border: none;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #5be9b9;
  margin: 0 auto 4vh auto;
  color: #000;
}

.skill-title {
  font-family: "Eurostile";
  font-weight: 900;
  word-break: break-word;
}

.skill-description {
  font-family: inherit;
  text-align: center;
}

.skill-category {
  margin: 4vh auto 1vh auto;
  font-weight: 500;
  color: #6e07f3;
}

.skill-technologies {
  margin-top: 2vh;
  line-height: 5vh;
  font-weight: 500;
}

/* For large desktop screens (1440px and above) */
@media (min-width: 1440px) {
  .skill-icon {
    height: 6vw;
    width: 6vw;
    font-size: 4.5vh;
  }

  .skill-title {
    font-size: 3.5vh;
    padding-inline: 1vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.5vh;
    padding-inline: 2vw;
  }

  .skill-category {
    font-size: 2.5vh;
  }

  .skill-technologies {
    font-size: 2.5vh;
  }
}

/* For regular desktop screens (1024px and above) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .skill-icon {
    height: 6vw;
    width: 6vw;
    font-size: 4.5vh;
  }

  .skill-title {
    font-size: 3.5vh;
    padding-inline: 1vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.5vh;
    padding-inline: 2vw;
  }

  .skill-category {
    font-size: 2.5vh;
  }

  .skill-technologies {
    font-size: 2.5vh;
  }
}

/* Tablet landscape mode (width between 769px and 1023px) */
@media (min-width: 769px) and (max-width: 1023px) {
  .skill-icon {
    height: 7vw;
    width: 7vw;
    font-size: 4.5vh;
  }

  .skill-title {
    font-size: 3vh;
    padding-inline: 1vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.15vh;
    padding-inline: 2vw;
  }

  .skill-category {
    font-size: 2.25vh;
  }

  .skill-technologies {
    font-size: 2vh;
  }
}

/* Tablet portrait mode (width between 481px and 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .skills-section {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 5vh 0 5vh 0;
    border-right: none;
    border-bottom: 2px solid #f1f1f1;
  }

  .skill-icon {
    height: 12vw;
    width: 12vw;
    font-size: 4.5vh;
  }

  .skill-title {
    font-size: 3.5vh;
    padding-inline: 1vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.25vh;
    padding-inline: 8vw;
  }

  .skill-category {
    font-size: 2.5vh;
  }

  .skill-technologies {
    font-size: 2.5vh;
  }
}

/* Mobile devices (width between 321px and 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  .skills-section {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 5vh 0 5vh 0;
    border-right: none;
    border-bottom: 2px solid #f1f1f1;
  }

  .skill-icon {
    height: 20vw;
    width: 20vw;
    font-size: 4.5vh;
  }

  .skill-title {
    font-size: 3.5vh;
    padding-inline: 10vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.25vh;
    padding-inline: 8vw;
  }

  .skill-category {
    font-size: 2.5vh;
  }

  .skill-technologies {
    font-size: 2.5vh;
  }
}

/* Small mobile devices (width up to 320px) */
@media (max-width: 320px) {
  .skills-section {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 5vh 0 5vh 0;
    border-right: none;
    border-bottom: 2px solid #f1f1f1;
  }

  .skill-icon {
    height: 20vw;
    width: 20vw;
    font-size: 4.5vh;
  }

  .skill-title {
    font-size: 3.5vh;
    padding-inline: 1vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.25vh;
    padding-inline: 8vw;
  }

  .skill-category {
    font-size: 2.5vh;
  }

  .skill-technologies {
    font-size: 2.5vh;
  }
}

/* Mobile landscape mode (width up to 768px but height less than width) */
@media (max-width: 768px) and (orientation: landscape) {
  .skills-section {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 5vh 0 5vh 0;
    border-right: none;
    border-bottom: 2px solid #f1f1f1;
  }

  .skill-icon {
    height: 10vw;
    width: 10vw;
    font-size: 5vh;
  }

  .skill-title {
    font-size: 3.5vh;
    padding-inline: 1vw;
  }

  .skill-description {
    margin-top: 1.5vw;
    font-size: 2.5vh;
    padding-inline: 8vw;
  }

  .skill-category {
    font-size: 2.5vh;
  }

  .skill-technologies {
    font-size: 2.5vh;
  }
}
